<div class="search-bar">
    <input matInput placeholder="Search..." [(ngModel)]="searchTerm" (ngModelChange)="searchData()" />
</div>

<mtx-grid [data]="filteredData" [columns]="columns" [rowHover]="rowHover" [rowStriped]="rowStriped"
    [showToolbar]="showToolbar" [toolbarTitle]="'My Noted Announcement List'" [columnHideable]="columnHideable"
    [columnSortable]="columnSortable" [expansionTemplate]="expansionTpl" [pageOnFront]="showPaginator"
    [showPaginator]="showPaginator" [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageIndex]="0" [pageSize]="10"
    (sortChange)="changeSort($event)" (selectionChange)="changeSelect($event)"></mtx-grid>

<ng-template #expansionTpl let-row>
    {{ row.name }}
</ng-template>
<ng-template #fileTemplate let-row="row">
    <a [routerLink]="['/noted-user/1']">Details</a>
</ng-template>