<div class="bg-white shadow-2xl rounded-2xl p-8 max-w-full mx-auto">
    <div class="text-center font-bold text-2xl text-gray-800 mb-3 border-b-2 pb-4">
      Create a New Group
    </div>
    <div class="w-3/12">
      <input 
        [(ngModel)]="groupName" 
        type="text" 
        class="my-2 border-2 w-full min-w-48 p-2" 
        placeholder="Enter a group name ..."
        (ngModelChange)="onGroupNameChange()"
      >
      <div *ngIf="validationError">
        <small class="text-red-500">{{ validationError }}</small>
      </div>
    </div>
    
    
  
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- COMPANY Section -->
      <div class="bg-gray-50 shadow-inner rounded-lg p-5 overflow-y-auto max-h-96">
        <div class="text-center font-semibold text-xl mb-5 text-gray-800 border-b pb-2">COMPANY</div>
        <input [(ngModel)]="companySearchTerm" (input)="filterCompany()" class="mb-4 p-2 w-full rounded-lg border border-gray-300" placeholder="Search Company">
        <div *ngFor="let company of filteredCompanies">
          <div class="flex justify-between items-center mb-4">
            <button 
              class="w-full font-medium py-2 px-4 rounded-lg transition ease-in-out duration-200"
              [ngClass]="{'bg-[#1b4980] text-white': company.id == companystatus, 'bg-gray-100 text-gray-800 hover:bg-gray-200': company.id != companystatus}"
              (click)="showDepartment(company.id)">
              {{ company.name }}
            </button>
            <span *ngIf="company.id == companystatus" class="text-blue-600 ml-3">
              <i class="fa-solid fa-arrow-right"></i>
            </span>
          </div>
        </div>
      </div>
  
      <!-- DEPARTMENT Section -->
      <div class="bg-gray-50 shadow-inner rounded-lg p-5 overflow-y-auto max-h-96">
        <div class="text-center font-semibold text-xl mb-5 text-gray-800 border-b pb-2">DEPARTMENT</div>
        <input [(ngModel)]="departmentSearchTerm" (input)="filterDepartment()" class="mb-4 p-2 w-full rounded-lg border border-gray-300" placeholder="Search Department">
        <div *ngFor="let department of filteredDepartments">
          <div class="flex justify-between items-center mb-4">
            <button 
              class="w-full font-medium py-2 px-4 rounded-lg transition ease-in-out duration-200"
              [ngClass]="{'bg-[#1b4980] text-white': departmentstatus == department.id, 'bg-gray-100 text-gray-800 hover:bg-gray-200': departmentstatus != department.id}"
              (click)="showStaff(department.id)">
              {{ department.name }}
            </button>
            <span *ngIf="departmentstatus == department.id" class="text-green-600 ml-3">
              <i class="fa-solid fa-arrow-right"></i>
            </span>
          </div>
        </div>
      </div>
  
      <!-- STAFF Section -->
      <div class="bg-gray-50 shadow-inner rounded-lg p-5 overflow-y-auto max-h-96">
        <div class="text-center font-semibold text-xl mb-5 text-gray-800 border-b pb-2">STAFF</div>
        <div class="flex items-center mb-4">
          <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()" class="mr-2" id="selectAll">
          <label for="selectAll" class="text-sm font-medium text-gray-800">Select All</label>
        </div>
        <input [(ngModel)]="staffSearchTerm" (input)="filterStaff()" class="mb-4 p-2 w-full rounded-lg border border-gray-300" placeholder="Search Staff">
        <mat-selection-list #staff (selectionChange)="toggleSelection($event)">
          <mat-list-option *ngFor="let staff of filteredStaffList" [value]="staff" [selected]="isSelected(staff)" [ngClass]="{'bg-[#1b4980] text-white': isSelected(staff), '': !isSelected(staff)}">
            <div class="py-2 px-4 rounded-lg transition ease-in-out duration-200">
              {{ staff.name }} ({{ staff.position }})
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  
    <!-- Selected Options and Button -->
    <div class="flex flex-col sm:flex-row justify-between align-content-center mt-4">
      <span class=" text-gray-700 font-medium">
        Staff selected: {{ selectedStaffCount }}
      </span>
      <button
        class="bg-blue-500 text-white font-semibold py-2 px-6 rounded-xl shadow-lg hover:bg-blue-600 disabled:bg-gray-400 disabled:cursor-not-allowed transition ease-in-out duration-200  sm:mt-0 max-h-12"
        (click)="showSelectedStaff()"
        [disabled]="!status">
        Finish
      </button>
    </div>
  </div>
  <div class="fixed inset-0 bg-black bg-opacity-25 z-50 flex items-center justify-center" *ngIf="showConfirmBox">
    <div class="bg-white w-6/12 h-5/6 p-3 rounded-md relative">
      <div class="border-b border-gray-400 text-center p-3 ">
        Confirm Group Members & Info
        <i class="fas fa-x float-end cursor-pointer  rounded-full p-1" (click)="showSelectedStaff()"></i>
      </div>
      <div class="flex items-center m-2">
        <span class="font-semibold">Group Name:</span>
        <input type="text" value="Frize Trizer" class="p-2 border border-gray-500 rounded-md ms-2">
      </div>
  
      <!-- Search Bar -->
      <div class="mb-3">
        <input type="text" id="search-bar" placeholder="Search Staff" class="p-2 border border-gray-500 rounded-md w-full">
      </div>
  
      <!-- Table for Staff Data -->
      <div class=" h-3/5 bg-gray-100 rounded-md overflow-y-auto   absolute inset-x-3 p-3">
        <table class="w-full text-left table-auto border-collapse">
          <thead>
            <tr class="border-b border-gray-300 bg-gray-200">
              <th class="p-3">No.</th>
              <th class="p-3">Profile</th>
              <th class="p-3">Name</th>
              <th class="p-3">Position</th>
              <th class="p-3">Company</th>
              <th class="p-3">Department</th>
              <th class="p-3">Actions</th>
            </tr>
          </thead>
          <tbody id="staff-table-body">
            <!-- Example Staff Member 1 -->
            <tr class="border-b border-gray-200" *ngFor="let staff of selectedStaff;let i  =index">
              <td class="p-3">{{ i + 1}}</td>
              <td class="p-3">
                <img [src]="staff.photoPath" alt="Profile Picture" class="w-12 h-12 rounded-full">
              </td>
              <td class="p-3">{{staff.name}}</td>
              <td class="p-3">{{staff.position}}</td>
              <td class="p-3">{{staff.company.name}}</td>
              <td class="p-3">{{staff.department.name}}</td>
              <td class="p-3">
                <span class="p-1 bg-red-500 hover:bg-red-600 cursor-pointer text-md text-white rounded-md" onclick="removeStaff(this)">Remove</span>
              </td>
            </tr>
  
            <!-- Add more staff rows here -->
            
          </tbody>
        </table>
      </div>
  
      <button class="p-2 bg-blue-500 rounded-md px-4 absolute bottom-2 right-5 text-white float-end mt-5 z-50" (click)="getSelectedGroup()">Create Group</button>
    </div>
  </div>
  
  
  