.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three equal-width columns */
    gap: 16px;
    /* Gap between columns */
}

mat-selection-list {
    max-width: 100%;
    /* Ensure lists don't overflow their grid cell */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.scroll-container {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}

.header {
    justify-content: center;
    align-items: center;
}

.createbutton {
    margin: 5px;
    padding: 5px;
    background-color: rgb(4, 0, 255);
}

/* .button {
    padding: 14px;
    background-color: #D1D5DB;
    width: auto;
    cursor: pointer;
} */
.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    border-bottom: 1px solid rgb(196, 191, 191);
    border-top: 1px solid rgb(196, 191, 191);
    background-color: #FFFFFF;
    width: 100%;
    cursor: pointer;
}

.button button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

.icon {
    margin-left: auto;
    font-size: 1.2rem;
    color: #333;
}