<div class="min-h-full rounded-md flex items-center justify-center bg-gray-100">
    <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-8">
      <h2 class="text-3xl font-bold text-gray-600 text-center mb-6">
        <i class="fas fa-key text-blue-500 mr-2 bgcolor" ></i>Change Password
      </h2>
  
      <div *ngIf="successMessage" class="bg-green-100 text-green-700 p-4 rounded mb-4 flex items-center">
        <i class="fas fa-check-circle text-green-500 mr-2 bgcolor"></i>{{ successMessage }}
      </div>
  
      <div *ngIf="errorMessage" class="bg-red-100 text-red-700 p-4 rounded mb-4 flex items-center">
        <i class="fas fa-exclamation-circle text-red-500 mr-2 bgcolor"></i>{{ errorMessage }}
      </div>
  
      <form (ngSubmit)="onChangePassword()" #changePasswordForm="ngForm" class="space-y-6">
        <div class="form-group">
          <label for="oldPassword" class="block text-gray-700 font-medium mb-2">
            <i class="fas fa-lock text-blue-500 mr-2 bgcolor"></i>Old Password
          </label>
          <input
            type="password"
            id="oldPassword"
            name="oldPassword"
            [(ngModel)]="oldPassword"
            required
            class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
            #oldPasswordInput="ngModel"
          />
          <div *ngIf="oldPasswordInput.invalid && oldPasswordInput.touched" class="text-red-600 text-sm mt-2">
            <i class="fas fa-exclamation-circle mr-1 bgcolor"></i>Old password is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="newPassword" class="block text-gray-700 font-medium mb-2">
            <i class="fas fa-lock text-blue-500 mr-2 bgcolor"></i>New Password
          </label>
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            [(ngModel)]="newPassword"
            required
            minlength="6"
            class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
            #newPasswordInput="ngModel"
          />
          <div *ngIf="newPasswordInput.invalid && newPasswordInput.touched" class="text-red-600 text-sm mt-2">
            <i class="fas fa-exclamation-circle mr-1 bgcolor"></i>New password is required and must be at least 6 characters long.
          </div>
        </div>
  
        <button
          type="submit"
          class="w-full bg-blue-500 text-white font-semibold p-3 rounded hover:bg-blue-600 transition flex items-center justify-center background"
          [disabled]="changePasswordForm.invalid"
        >
          <i class="fas fa-key mr-2 "></i>Change Password
        </button>
      </form>
  
      <a routerLink="/login" class="block text-center text-blue-500 mt-6 hover:underline">
        <i class="fas fa-arrow-left mr-2 "></i>Back to Login
      </a>
    </div>
  </div>