<div class="ChangePw-card">
  <!-- Left Side (Logo and Information) -->
   
  <div class="ChangePw-card-right" >
    <div style="display: flex; flex-direction: column; position: relative; justify-content: center; align-items: center; gap: 0;">
      <div class="typing-container">
        <div class="typing-text">
          <span class="letter">A</span>
          <span class="letter">C</span>
          <span class="letter">E</span>
        </div>
        <br style="user-select: none;">
        <div class="typing-text">
          <span class="letter">A</span>
          <span class="letter">c</span>
          <span class="letter">k</span>
          <span class="letter">n</span>
          <span class="letter">o</span>
          <span class="letter">w</span>
          <span class="letter">l</span>
          <span class="letter">e</span>
          <span class="letter">d</span>
          <span class="letter">g</span>
          <span class="letter">e</span>
          <span class="letter"> </span>
          <span class="letter">H</span>
          <span class="letter">u</span>
          <span class="letter">b</span>
          <span class="letter">.</span>
        </div>
      </div>
      
    </div>
    </div>

  <!-- Right Side (Login Form) -->
  <div class="ChangePw-card-left">
    <p class="text-4xl font-semibold medium text-gray-800 text-center mb-6" style="color: #1b4980;" >
      ChangePassword
    </p>
    <form (ngSubmit)="onChangePassword()" #changePasswordForm="ngForm">
      <!-- Error message if form is invalid -->
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      

      <!-- Old password Input -->
      <div class="input-group">
        <label for="staffId">
          <i class="fa fa-lock"></i>
        </label>
        <input
          type="text"
          id="staffId"
          name="staffId"
          [(ngModel)]="oldPassword"
          #staffIdInput="ngModel"
          required
          placeholder="Default Password"
        />
       
      </div>
      <div *ngIf="showError && !errorMessage && staffIdInput.invalid" class="input-error">
       Old Password is required
      </div>

      <!-- Password Input -->
      <div class="input-group">
        <label for="password">
          <i class="fa fa-lock"></i>
        </label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          name="password"
          [(ngModel)]="newPassword"
          #passwordInput="ngModel"
          required
          placeholder="Password"
        />
        <!-- <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
          <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
        </button> -->
        
      </div>
      <div *ngIf="showError && !errorMessage && passwordInput.invalid" class="input-error">
        New Password is required.
      </div>

      <div class="form-actions">
        <button type="submit" class="login-button">Change</button>
        <button type="button" class="login-button" (click)="backLogin()" >Back </button>
      </div>

      
      <!-- Register Link -->
      <!-- <p class="register-link">
        Don't have an account? <a href="#">REGISTER HERE</a>
      </p> -->
    </form>
  </div>
</div>
