<div class="chart-container" >
  <!-- Date pickers and chart are together -->
  <div class="chart-and-date-container">
    <div class="date-picker-container">
      <div class="date-picker">
        <label for="startDate" class="date-label">Start Date:</label>
        <input type="date" id="startDate" class="date-input" [max]="getCurrentDate()" (change)="onDateChange()">
      </div>
      <div class="date-picker">
        <label for="endDate" class="date-label">End Date:</label>
        <input type="date" id="endDate" class="date-input" [max]="getCurrentDate()" (change)="onDateChange()">
      </div>
    </div>

    <!-- <button (click)="switchChart()">Switch Chart</button> -->
    <!-- Chart only section -->
    <div *ngIf="!noData" class="card myChart">
      <canvas id="chart"></canvas>
    </div>
    <!-- Add a second chart container -->
    <!-- <div *ngIf="showSecondChart" class="card mySecondChart">
      <canvas id="secondChart"></canvas>
    </div> -->

    <div *ngIf="noData" class="card no-data-message">
      No announcements found for the selected dates.
    </div>
  </div>

  <!-- Staff chart component beside the chart -->
  <app-staff-chart></app-staff-chart>
</div>
