<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-sm bg-white rounded-lg shadow-lg p-8">
    <h2 class="text-3xl font-bold text-gray-800 text-center mb-6">
      Login
    </h2>

    <div *ngIf="errorMessage" class="bg-red-100 text-red-700 p-4 rounded mt-4">
      {{ errorMessage }}
    </div>

    <form (ngSubmit)="onLogin()" class="space-y-6">
      <div>
        <label for="staffId" class="block text-gray-700 font-medium mb-2">
          Staff ID
        </label>
        <input type="text" id="staffId" name="staffId" [(ngModel)]="staffId" required
          class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-[#1b4980]" />
      </div>

      <div>
        <label for="password" class="block text-gray-700 font-medium mb-2">
          Password
        </label>
        <div class="relative">
          <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" [(ngModel)]="password"
            required
            class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-[#1b4980]" />
          <button type="button" (click)="togglePasswordVisibility()"
            class="absolute inset-y-0 right-0 pr-3 flex items-center">
            <i *ngIf="showPassword" class="fa-regular fa-eye"></i>
            <i *ngIf="!showPassword" class="fa-regular fa-eye-slash"></i>

          </button>
        </div>
      </div>

      <button type="submit"
        class="w-full bg-[#1b4980] text-white font-semibold py-3 rounded hover:bg-blue-700 transition duration-200 flex items-center justify-center">
        Login
      </button>
    </form>
  </div>
</div>