<div class=" h-full rounded-md flex items-start pt-20 justify-center bg-gray-100">
    <div class="w-full max-w-6xl bg-white rounded-lg shadow-lg p-8">
        <div class="flex justify-center items-center mb-6">
            <p class="text-3xl font-bold text-gray-800 text-center">
                Add Staff
            </p>
            <!-- Import Excel Button (smaller) -->
            <button type="button" routerLink="/import-excel"
                class="ms-auto bg-green-600 text-white font-semibold px-4 py-2 rounded text-sm hover:bg-green-700 transition duration-200 flex items-center">
                Import Excel
            </button>
        </div>
        <form #staffForm="ngForm" (ngSubmit)="onSubmit(staffForm)"
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="col-span-1">
                <label for="companyStaffId" class="block text-gray-700 font-medium mb-2">
                    Staff ID
                </label>
                <input type="text" id="companyStaffId" name="companyStaffId" [(ngModel)]="staff.companyStaffId" required
                    class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-[#1b4980]" />
                <span *ngIf="staffForm.submitted && staffForm.controls['companyStaffId'].errors">
                    <small class="error" *ngIf="staffForm.controls['companyStaffId'].errors?.['required']">
                        <i class="fa-solid fa-circle-exclamation"></i> Staff-ID is required
                    </small>
                </span>
            </div>

            <div class="col-span-1">
                <label for="name" class="block text-gray-700 font-medium mb-2">
                    Name
                </label>
                <input type="text" id="name" name="name" [(ngModel)]="staff.name" required
                    class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-[#1b4980]" />
                <span *ngIf="staffForm.submitted && staffForm.controls['name'].errors">
                    <small class="error" *ngIf="staffForm.controls['name'].errors?.['required']">
                        <i class="fa-solid fa-circle-exclamation"></i> Name is required
                    </small>
                </span>
            </div>

            <div class="col-span-1">
                <label for="email" class="block text-gray-700 font-medium mb-2">
                    Email
                </label>
                <input type="text" id="email" name="email" [(ngModel)]="staff.email" required
                    class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-[#1b4980]" />
                <span *ngIf="staffForm.submitted && staffForm.controls['email'].errors">
                    <small class="error" *ngIf="staffForm.controls['email'].errors?.['required']">
                        <i class="fa-solid fa-circle-exclamation"></i>Email is required
                    </small>
                </span>
            </div>

            <div class="col-span-1">
                <label for="companyId" class="block text-gray-700 font-medium mb-2">
                    Company
                </label>
                <select id="companyId" name="companyId" [(ngModel)]="staff.companyId" (change)="onCompanyChange()"
                    class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-[#1b4980]">
                    <option [ngValue]="null" disabled>Select Company</option>
                    <option *ngFor="let company of companies" [ngValue]="company.id">
                        {{company.name}}
                    </option>
                </select>
            </div>

            <div class="col-span-1">
                <label for="departmentId" class="block text-gray-700 font-medium mb-2">
                    Department
                </label>
                <select id="departmentId" name="departmentId" [(ngModel)]="staff.departmentId"
                    class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-[#1b4980]">
                    <option [ngValue]="null" disabled>Select Department</option>
                    <option *ngFor="let department of departments" [ngValue]="department.id">{{department.name}}
                    </option>
                </select>
            </div>

            <div class="col-span-1">
                <label for="position" class="block text-gray-700 font-medium mb-2">
                    Position
                </label>
                <select id="position" name="position" [(ngModel)]="staff.positionId"
                    class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-[#1b4980]">
                    <option [ngValue]="null" disabled>Select position</option>
                    <option *ngFor="let position of positions" [ngValue]="position.id">{{position.name}}
                    </option>
                </select>
            </div>

            <!-- Button Section -->
            <div class="col-span-3 flex justify-end items-center">
                <button type="submit"
                    class="w-full md:w-48 bg-[#1b4980] text-white font-semibold py-3 rounded hover:bg-blue-700 transition duration-200 flex items-center justify-center">
                    ADD
                </button>
            </div>

        </form>
    </div>
</div>