<div @cardAnimation>
    <div class="card container max-w-lg mx-auto p-8 text-center bg-white shadow-2xl rounded-lg mt-20">
        <span class="text-3xl font-bold mb-6 text-gray-800">Forget Password</span>
        <form class="space-y-6 my-5" #announcementForm="ngForm" (ngSubmit)="onSubmit(announcementForm)">
            <div class="card input-container">
                <p>Enter your Staff-Id</p>
                <span class="p-2 text-red-600">{{error}}</span>
                <input 
                    id="staffId" 
                    name="staffId" 
                    [(ngModel)]="staffId" 
                    required 
                    placeholder="Staff-ID" 
                    class="input-field"
                    (focus)="status = false">
                <div *ngIf="announcementForm.submitted && announcementForm.controls['staffId'].errors">
                    <small class="error" *ngIf="announcementForm.controls['staffId'].errors?.['required']">
                        Staff-ID is required
                    </small>
                </div>
                <small class="error" *ngIf="status">Staff-ID is invalid</small>
                <!-- Loading Box -->
                <div *ngIf="loading" class="loading-overlay">
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <button type="submit" class="card submit-button">
                Submit
            </button>

            <a routerLink="/acknowledgeHub/login" class="card back-link">
                <i class="fas fa-arrow-left mr-2"></i>Back to Login
            </a>
        </form>
    </div>
</div>
