<div class="container bg-white mx-auto p-4">
  <!-- Header Section -->
  <div class="flex justify-between items-center mb-3">
    <span class="text-5xl font-semibold" style="font-size: 30px;">Announcements List</span>
    <!-- Search Input on the Right Side -->
    <input type="text" class="border p-2 rounded w-1/3 md:w-1/4" placeholder="Search..." [(ngModel)]="searchQuery"
      (input)="onSearchChange()" />
  </div>


  <!-- Search and Filters Section -->
  <div class="flex justify-between mb-4">

    <div class="flex gap-4">
      <!-- Date Filters -->
      <!-- Container for the entire row -->
      <div class="flex flex-col space-y-4">
        <!-- Container for the date inputs and labels -->
        <div class="flex space-x-3">
          <!-- Start Date Container -->
          <div class="flex flex-col">
            <label for="startDate" style="font-size: 14px;">Start Date</label>
            <input type="date" id="startDate" class="border p-2 rounded w-40" [max]="endDateTime || todayDate"
              [value]="startDateTime" (change)="onStartDateChange($event)" />
          </div>

          <!-- End Date Container -->
          <div class="flex flex-col">
            <label for="endDate" style="font-size: 14px;">End Date</label>
            <input type="date" id="endDate" class="border p-2 rounded w-40" [min]="startDateTime" [max]="todayDate"
              [value]="endDateTime" (change)="onEndDateChange($event)" />
          </div>
        </div>
      </div>
    </div>


    <div>
      <!-- Report Button -->
      <div class="relative">
        <button class="bg-blue-800 text-white py-2 px-4 rounded hover:bg-blue-700" (click)="toggleReportDropdown()">
          Generate Report <i class="fa-solid fa-caret-down"></i>
        </button>
        <!-- Dropdown for Report Types -->
        <ul class="absolute left-2 w-41 bg-gray-100 text-black top-10 shadow-md rounded z-10"
          *ngIf="isReportDropdownOpen" (click)="$event.stopPropagation()">
          <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer" (click)="generateReport('pdf')">
            <i class="fa-regular fa-file-pdf"></i> Generate PDF
          </li>
          <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer" (click)="generateReport('excel')">
            <i class="fa-regular fa-file-excel"></i> Generate Excel
          </li>
        </ul>
        <button mat-button [matMenuTriggerFor]="menu">Columns</button>
      </div>

      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <div class="checkbox-container">
          <mat-checkbox *ngFor="let col of columns" [(ngModel)]="columnVisibility[col.field]"
            (click)="$event.stopPropagation()" (change)="onColumnVisibilityChange()" class="checkbox-item">
            {{ col.header }}
          </mat-checkbox>
        </div>
      </mat-menu>
    </div>

  </div>


  <!-- Table with Pagination -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="min-w-full">
      <!-- Define Columns -->
      <ng-container *ngFor="let col of columns">
        <ng-container *ngIf="columnVisibility[col.field]">
          <ng-container [matColumnDef]="col.field">
            <th mat-header-cell *matHeaderCellDef class="header-center">
              {{ col.header }}
            </th>
            <td mat-cell *matCellDef="let announcement" class="data-right">
              <ng-container [ngSwitch]="col.field">
                <ng-container *ngSwitchCase="'note'">
                  <button mat-button (click)="onNotedButtonClick(announcement.id,announcement.title,announcement.file)">
                    Noted
                  </button>
                  <button mat-button style="color: rgb(215, 133, 133);"
                    (click)="onUnNotedButtonClick(announcement.id , announcement.groupStatus,announcement.title, announcement.file)">
                    UnNoted
                  </button>
                </ng-container>

                <ng-container *ngSwitchCase="'scheduleAt'">
                  <span>{{ announcement.scheduleAt | date: 'yyyy-MM-dd HH:mm' }}</span>
                </ng-container>
                <ng-container *ngSwitchCase="'detail'">
                  <button mat-button (click)="onDetailButtonClick(announcement.id)">
                    View
                  </button>
                </ng-container>
                <ng-container *ngSwitchCase="'title'">
                  <span *ngIf="getVersionNumber(announcement.file) && getVersionNumber(announcement.file)! > 1">
                    {{announcement.title}} <span>-V{{ getVersionNumber(announcement.file) }}</span>
                  </span>
                  <span *ngIf="getVersionNumber(announcement.file) && getVersionNumber(announcement.file)! == 1">
                    {{announcement.title}}
                  </span>
                </ng-container>

                <!-- Truncate Description -->
                <ng-container *ngSwitchCase="'description'">
                  {{ (getNestedProperty(announcement, col.field) | slice:0:20) + '.........' }}
                </ng-container>
                <!-- Format Schedule -->
                <ng-container *ngSwitchCase="'schedule'">
                  {{ (getNestedProperty(announcement, col.field) | date:'HH:mm:ss') }}
                </ng-container>
                <!-- Default Handling -->
                <ng-container *ngSwitchDefault>
                  {{ getNestedProperty(announcement, col.field) || 'N/A' }}
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: selectedColumns;"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
  </div>