<ul class="space-y-2 w-60" *ngIf="isSidebarOpen" [@sidebarAnimation]>
  <li style="margin: 16px; padding: 3px;">
    <span class="text-gray-600 font-extrabold"></span>
  </li>

  
  <div *ngIf="isMainHr || isAdmin">
    <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0">
      <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-200 hover:text-gray-600 rounded-md"
        routerLink="acknowledgeHub/system-dashboard" routerLinkActive="active text-white hover:active hover:text-white">
        <i class="fa-solid fa-chart-line"></i>
        <span>Dashboard</span>
      </a>
    </li>
  </div>



  <div *ngIf="!isAdmin && !isMainHr">
    <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0">
      <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-200 hover:text-gray-600 rounded-md"
        routerLink="acknowledgeHub/staff-dashboard" routerLinkActive="active text-white hover:active hover:text-white">
        <i class="fa-solid fa-chart-line"></i>
        <span>Staff Dashboard</span>
      </a>
    </li>
  </div>

  <div *ngIf="!isAdmin && !isMainHr && isHr">
    <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0">
      <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-200 hover:text-gray-600 rounded-md"
        routerLink="acknowledgeHub/announcement/request" routerLinkActive="active text-white hover:active hover:text-white">
        <i class="fa-solid fa-plus"></i>
        <span> Request Announcement</span>
      </a>
    </li>
  </div>

  <div *ngIf="!isAdmin && !isMainHr">
    <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0">
      <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-200 hover:text-gray-600 rounded-md"
        routerLink="acknowledgeHub/announcement/list-by-staff"
        routerLinkActive="active text-white hover:active hover:text-white">
        <i class="fa-solid fa-list"></i>
        <span>Announcement List</span>
      </a>
    </li>
  </div>

  <div *ngIf="!isAdmin && !isMainHr">
    <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0">
      <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-200 hover:text-gray-600 rounded-md"
        routerLink="acknowledgeHub/announcement/staff-noted"
        routerLinkActive="active text-white hover:active hover:text-white">
        <i class="fa-regular fa-check-circle"></i>
        <span>Noted Announcement</span>
      </a>
    </li>
  </div>

  <div *ngIf="!isAdmin && !isMainHr">
    <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0">
      <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-200 hover:text-gray-600 rounded-md"
        [routerLink]="'acknowledgeHub/announcement/staff-unnoted'"
        routerLinkActive="active text-white hover:active hover:text-white">
        <i class="fa-regular fa-circle-xmark"></i>
        <span>Not Noted Announcement</span>
      </a>
    </li>
  </div>



  <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0" *ngIf="isAdmin || isMainHr">
    <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-300 hover:text-gray-600 rounded-md justify-between"
      (click)="toggleMenu('announcementMenu')">
      <span class="flex items-center space-x-3">
        <i class="fa-solid fa-bullhorn"></i>
        <span>Announcements</span>
      </span>
      <i class="fa-solid fa-chevron-down"></i>
    </a>
    <ul id="announcementMenu" class="space-y-2 pl-8 mt-2 hidden" >
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/announcement/add" routerLinkActive="active text-white hover:active hover:text-white" *ngIf="isMainHr">
        <span class="flex items-center space-x-3">
          <i class="fa-solid fa-plus"></i>
          <span> Create Announcement</span>
        </span>
      </li>
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/announcement/list" routerLinkActive="active text-white hover:active hover:text-white">
        <span class="flex items-center space-x-3">
          <i class="fa-solid fa-list"></i>
          <span>List  Announcement</span>
        </span>
      </li>
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/announcement/pending-announcement"
        routerLinkActive="active text-white hover:active hover:text-white">
        <span class="flex items-center space-x-3">
          <i class="fa-solid fa-spinner"></i>
          <span> Pending Announcement</span>
        </span>
      </li>
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/announcement/request-list"
        routerLinkActive="active text-white hover:active hover:text-white">
        <span class="flex items-center space-x-3">
          <i class="fa-regular fa-paper-plane"></i>
          <span> Request Announcement</span>
        </span>
      </li>
    </ul>
  </li>

  <!-- Category with Sub-items -->
  <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0" *ngIf="isAdmin">
    <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-300 hover:text-gray-600 rounded-md justify-between"
      (click)="toggleMenu('categoryMenu')">
      <span class="flex items-center space-x-3">
        <i class="fa-solid fa-layer-group"></i>
        <span>Category</span>
      </span>
      <i class="fa-solid fa-chevron-down"></i>
    </a>
    <ul id="categoryMenu" class="space-y-2 pl-8 mt-2 hidden">
     
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/list-category" routerLinkActive="active text-white hover:active hover:text-white">
        <i class="fa-solid fa-layer-group"></i>  Category
      </li>
    </ul>
  
  </li>

  <li *ngIf="isAdmin || isMainHr">
    <span class="text-gray-600 p-3 font-semibold">Additional Links</span>
  </li>

  <div *ngIf="isAdmin">
    <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0">
      <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-200 hover:text-gray-600 rounded-md"
        routerLink="acknowledgeHub/add-hr-main" routerLinkActive="active text-white hover:active hover:text-white">
        <i class="fas fa-id-badge"></i>
        <span>Add Human Resource (MAIN)</span>
      </a>
    </li>
  </div>


  <!-- Company with Sub-items -->
  <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0" *ngIf="isAdmin || isMainHr">
    <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-300 hover:text-gray-600 rounded-md justify-between"
      (click)="toggleMenu('companyMenu')">
      <span class="flex items-center space-x-3">
        <i class="fa-solid fa-globe"></i>
        <span>Company</span>
      </span>
      <i class="fa-solid fa-chevron-down"></i>
    </a>
    <ul id="companyMenu" class="space-y-2 pl-8 mt-2 hidden">
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/company/add" routerLinkActive="active text-white hover:active hover:text-white" >
        <span class="flex items-center space-x-3" >
          <i class="fa-solid fa-plus" ></i>
          <span> Add Company</span>
        </span>
      </li>
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/company/list" routerLinkActive="active text-white hover:active hover:text-white">
        <span class="flex items-center space-x-3">
          <i class="fa-solid fa-list"></i>
          <span> Company List</span>
        </span>
      </li>
    </ul>
  </li>

  <!-- Department with Sub-items -->
  <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0" *ngIf="isAdmin || isMainHr">
    <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-300 hover:text-gray-600 rounded-md justify-between"
      (click)="toggleMenu('departmentMenu')">
      <span class="flex items-center space-x-3">
        <i class="fa-solid fa-sitemap"></i>
        <span>Department</span>
      </span>
      <i class="fa-solid fa-chevron-down"></i>
    </a>
    <ul id="departmentMenu" class="space-y-2 pl-8 mt-2 hidden">
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/department/add" routerLinkActive="active text-white hover:active hover:text-white">
        <span class="flex items-center space-x-3">
          <i class="fa-solid fa-plus"></i>
          <span> Add Department</span>
        </span>
      </li>
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/department/list" routerLinkActive="active text-white hover:active hover:text-white">
        <span class="flex items-center space-x-3">
          <i class="fa-solid fa-list"></i>
          <span> Department List</span>
        </span>
      </li>
    </ul>
  </li>
  <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0" *ngIf="isAdmin || isMainHr">
    <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-300 hover:text-gray-600 rounded-md justify-between"
      (click)="toggleMenu('positionMenu')">
      <span class="flex items-center space-x-3">
        <i class="fas fa-user-tie"></i>
        <span>Position</span>
      </span>
      <i class="fa-solid fa-chevron-down"></i>
    </a>
    <ul id="positionMenu" class="space-y-2 pl-8 mt-2 hidden">
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/position/add" routerLinkActive="active text-white hover:active hover:text-white">
        <span class="flex items-center space-x-3">
          <i class="fa-solid fa-plus"></i>
          <span> Add Position</span>
        </span>
      </li>
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/position/list" routerLinkActive="active text-white hover:active hover:text-white">
        <span class="flex items-center space-x-3">
          <i class="fas fa-users-cog"></i>
          <span> Position List</span>
        </span>
      </li>
    </ul>

  </li>

  <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0" *ngIf="isAdmin || isMainHr">
    <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-300 hover:text-gray-600 rounded-md justify-between"
      (click)="toggleMenu('userMenu')">
      <span class="flex items-center space-x-3">
        <i class="fa-solid fa-users"></i>
        <span>Users</span>
      </span>
      <i class="fa-solid fa-chevron-down"></i>
    </a>
    <ul id="userMenu" class="space-y-2 pl-8 mt-2 hidden">
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/users/add" routerLinkActive="active text-white hover:active hover:text-white" >
        <span class="flex items-center space-x-3">
          <i class="fa-solid fa-user-plus"></i>
          <span> Add Users</span>
        </span>
      </li>
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/users/list" routerLinkActive="active text-white hover:active hover:text-white">
        <span class="flex items-center space-x-3">
          <i class="fa-solid fa-users-line"></i>
          <span> Users List</span>
        </span>
      </li>
    </ul>
  </li>
  <li class="bg-white text-gray-500 p-2 rounded-md cursor-pointer mt-0 py-0" *ngIf="isMainHr">
    <a class="flex items-center space-x-3 py-3 px-5 hover:bg-gray-300 hover:text-gray-600 rounded-md justify-between"
      (click)="toggleMenu('groupMenu')">
      <span class="flex items-center space-x-3">
        <i class="fa-solid fa-user-group"></i>
        <span>Groups</span>
      </span>
      <i class="fa-solid fa-chevron-down"></i>
    </a>
    <ul id="groupMenu" class="space-y-2 pl-8 mt-2 hidden">
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/group/add" routerLinkActive="active text-white hover:active hover:text-white">
        <span class="flex items-center space-x-3">
          <i class="fas fa-plus ms-0 ps-0"></i>
          <span> Add Group</span>
        </span>
      </li>
      <li class="text-gray-500 p-2 rounded-md hover:bg-gray-300 hover:text-gray-600 cursor-pointer"
        routerLink="acknowledgeHub/group/list" routerLinkActive="active text-white hover:active hover:text-white">
        <span class="flex items-center space-x-3">
          <i class="fa-solid fa-people-group"></i>
          <span> Groups List</span>
        </span>
      </li>
    </ul>
  </li>

</ul>